@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@500&display=swap');

/* COLOR SCHEME */
:root{
  /* CSS HEX */
    --french-rose: #f83f78ff;
    --flax: #f7ed9aff;
    --pink-lavender: #e8bbe4ff;
    --dark-magenta: #940f89ff;
    --aero: #41c0dfff;
    --pear: #b9d42cff;
    --safety-orange: #f77d21ff;

  background-color: #3b3b3b;
}

.grid-container {
  display: grid;
  color: #ffffff;
  background-color: var(--aero);
  grid-template-columns: 1fr;
  grid-template-rows: 100px 35vh repeat(auto-fill, 100px);
  column-gap: 5px;
  row-gap: 15px;
  height: 1000px;
  overflow: scroll;
}

.grid-item-header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: var(--french-rose);
  color: #ffffff;
  font-family: 'Handjet';
  font-size: 36px;
}

.grid-item-points {
  border-radius: 25px;
  justify-self: center;
  width: 90%;
  padding: 10px;
  background-color: var(--flax);
  color: #000000;
  font-family: 'Handjet';
  font-size: 24px;
}

.grid-item-button{
  padding: 10px;
  width: 90%;
  justify-self: center;
  border-radius: 25px;
  background-color: var(--dark-magenta);
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
}

.flex-item-points {
  flex-grow: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-item-points p {
  margin: 0px;
  display: flex;
  justify-content: center;
  font-size: 90px;
  }

.flex-item-points span {
  display: flex;
  justify-content: center;
  font-size: 36px;
  }

.flex-item-footer {
  flex-grow: 1;
  display: flex;
  padding-right: 25px;
  justify-content: right;
  align-items: center;
  font-size: 24px;
}

.flex-container-button {
  display: flex;
  height: 100%;
  text-align: center;
}

.flex-item-button-name {
  flex: 2 2;
  align-self: center;
}

.flex-item-button-logo {
  flex: 1 1;
  align-self: center;
}

.flex-item-setexercise-minus {
  flex: 1 1;
  align-self: center;
}

.flex-item-setexercise-plus {
  flex: 1 1;
  align-self: center;
}

.flex-item-setexercise-submit {
  flex: 2 2;
  align-self: center;
}

.setexercise {
  background-color: var(--safety-orange);
}